.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 81px;
  width: 100%;
  background: #3bae57;
  &--name {
    color: white;
    padding-left: 1.6%;
    font-size: 30px;
  }
  &--buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-right: 4%;
    width: 15%;
    .MuiButton-outlinedPrimary {
      color: #ffffff;
      border: 2px solid rgba(255, 255, 255, 0.5);
    }
    .MuiButton-root {
      font-size: 20px;
      min-width: 136px;
      min-height: 50px;
    }
    .MuiSvgIcon-colorDisabled {
      color: rgb(255, 255, 255);
    }
    .language {
      font-size: 20px;
      color: white;
    }
  }
}
@media (max-width: 1412px) {
  .header {
    &--name {
      font-size: 30px;
    }
    &--buttons {
      width: 25%;
    }
  }
}
@media (max-width: 768px) {
  .header {
    &--name {
      font-size: 24px;
    }
    &--buttons {
      width: 35%;
      margin: 0;
    }
  }
}
@media (max-width: 480px) {
  .header {
    &--buttons {
      width: 55%;
      .MuiButton-root {
        font-size: 16px;
        min-width: 70px;
        min-height: 20px;
      }
    }
  }
}
@media (max-width: 360px) {
  .header {
    &--buttons {
      width: 35%;
      .MuiButton-root {
        font-size: 13px;
        min-width: 50px;
        min-height: 20px;
      }
    }
    .language {
      font-size: 14px;
      padding-right: 8px;
    }
  }
}
